@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    
} 

/*Cabeçalho*/
header {
    width: 100%;
    height: 4.0em;
    background: #C69C6D;
}

 /*Modal*/
    #modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1000;
    }

    #modal-conteudo {
        background: white;
        width: 350px;
        margin: 100px auto;
        padding: 20px;
        border-radius: 10px;
        position: relative;
    }

    #fechar {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 24px;
        cursor: pointer;
    }

    input, textarea {
        width: 95%;
        padding: 10px;
        margin: 6px 0;
        border-radius: 6px;
        border: 2px solid #ccc;
    }

    textarea {
        height:70px;
        resize: none;
    }

    

/*Título*/
#titulo {
    width: 460px;
    height: 52px;
    background: #C69C6D;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#letreiro {
    color: #665b36;
    font-size: 31px;
    
}

/*Primeira seção*/
#primeira {
    height: 100vh;
    background-image: url(/img/cupcake-7435666_1280.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

/*Camada de opacidade do background da primeira seção*/
#primeira::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

/*Parallax*/
#primeira * {
    position: relative;
    z-index: 1;
}

/*Textos da primeira seção*/
section h1 {
    color: #fff;
    font-size: 60px;
    margin: 0 0 20px 0;
}

section p {
    color: #fff;
    font-size: 34px;
    margin: 0 0 40px 0;
}

/*Botão*/
button {
    background-color: #F4C2C2;
    color: #2c2828;
    padding: 12px 20px;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

/*Animações do botão*/
button:hover {
    box-shadow: 5px 5px 15px 5px #000000;
}

/*Produtos*/
#produtos {
    background-color: #C69C6D;
}

#container-doces> h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    
}

#container-doces {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    
}

.cupcakes {
    background-color: #fbf5df;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 250px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
}

/*Animação das Boxes dos produtos*/
.cupcakes:hover {
    transform: scale(1.05);
}

/*Texto dos Produtos*/
.cupcakes > h2 {
    color: #2c2828;
}

.cupcakes > p {
    font-size: 20px;
    color: #2c2828;
}

/*Imagens dos produtos*/
.cupcakes > img {
    object-fit: cover;
    border-radius: 10px;
    width: 168px;
    height: 168px;
}

/*Depoimentos*/
#depoimentos {
    background-color: #fbf5df;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}

.caixas-pessoas {
    background-color: #b1a477;
    border-radius: 10px;
    width: 200px;
    height: 350px;
    padding: 15px;
    text-align: center;
}

.caixas-pessoas> h2 {
    color: #2c2828;
}

.caixas-pessoas>p {
    color: #2c2828;
    font-size: 20px;
}

.caixas-pessoas img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

#chamada-acao {
    height: 100vh;
    background: url(/img/cupcake-9242545_1280.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    

}

#chamada-acao::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

#chamada-acao * {
    position: relative;
    z-index: 1;
}

#chamada-acao h2 {
    color: #fff;
    font-size: 58px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

footer {
    background-color: #C69C6D;
}

footer > h2 {
    color: #665b36;
    text-align: center;
}

footer > p {
    color: #665b36;
    text-align: center;
}

/*Dispositivos Móveis*/
@media screen and (min-width: 320px) and  (max-width: 480px) {
    header {
     width: 100%; 
     height: 30px; 
     background: #C69C6D;
    } 
    
    #titulo {
     width: 16em;
     height: 3.7em; 
     background: #C69C6D; 
     border-radius: 15px; 
     text-align: center; 
     margin: 0 auto; 
     position: absolute; 
     top: 0.06em; 
     transform: translateX(-50%);
     z-index: 10; 
    } 
    
    #letreiro {
     color: #665b36;
     font-size: 1.5em; 
    } 
    
    /*Textos da primeira seção*/ 
    section h1 {
        color: #fff;
        font-size: 2em;
        margin: 0 0 20px 0;
        
    }

   

}

/*Ipads, Tablets*/
@media screen and (min-width: 481px) and  (max-width: 678px) {

 
}
/*Telas Pequenas, Laptops*/
@media screen and (min-width: 768px) and  (max-width:1024px ) {
    


}
/*Desktops, Telas Grandes*/
@media screen and (min-width: 1025px) and  (max-width: 1200px) {
    
    
}

/*Telas muito Grandes, Tvs*/
@media screen and (min-width:1201px) {
    
}